/*--------- Character ---------
--------------------------------- */

#character {
  font-size: 2.25rem;
  font-weight: bold;
  font-family: $primaryFont;
  color: $orange;
  text-align: center;
  margin: auto;
  width: auto;
  line-height: 1.5;
  display: none;
  padding: 0.125em 0.5em 0.25em 0.5em;
   -webkit-font-smoothing: antialiased;
   border: solid 1px #fff;
}