/*--------- Footer ---------
--------------------------------- */

.footer {
  position: absolute;
  bottom: 1.25rem;
  display: flex;
  width: calc(100vw - 8rem);
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  padding: 1em 0;
  border-top: solid 1px #fff;
   -webkit-font-smoothing: antialiased;
   color: #fff;
    @mixin at800 {
    padding: 1em;
    font-size: 0.875rem;
  }
    @mixin at600 {
  }
  p {
  	display: inline-block;
  	margin-right: 1em;
    height: 1.5em;

  	    @mixin at600 {
    padding: 0.25em;
    margin: 0.25em auto;
  }
  }
}