/*--------- Input ---------
--------------------------------- */

.input {
	opacity:0;
filter:alpha(opacity=0);
	background: inherit;
	border: 0;
	color: $navy;
	font-size: 0.1rem;
	text-align: center;
	line-height: 0.1;
	border-bottom: solid 3px black;
	max-width: 90%;
	  @mixin at1000 {
  	font-size: 1rem;
  	width: 140%;
  }
}
.input:focus {
	outline: 0;
	border-bottom: solid 3px black;
}

.input::selection {
	background: none;
}

.input--is-input {
	width: 480px;
}
.input--was-copied {
	width: 340px;
}
