* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #d5d5d5;
  justify-content: flex-end;
  height: 100vh;
  font-family: 'source sans pro';
}

.link {
  position: relative;
  text-decoration: none;
  color: #005b74;
}

 .link::after {
  height: 2px;
  left: 0;
  bottom: -2px;
  transition-duration: 0.5s;
  transform-origin: top left;
  width: 100%;
  transition: all ease-out 0.2s;
  background: #F96A00;
  content: '';
  position: absolute;
}

 .link:hover::after {
  width: 0;
  transition: all 0.2s;
 }