
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  background: #000;
  justify-content: center;
  height: 100vh;
  font-family: $sansSerif;
  color: #fff;
}

.link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: all ease-out 0.2s;
  font-weight: bold;
  color: #fff;
    border-bottom: solid 2px $orange;  
}


.link:hover {
  padding-bottom: 0.2em;
}

 .link:hover::after {
  width: 0;
  transition: all 0.2s;
 }

 .app-title {
  position: relative;
  top: 1rem;
  left: 0rem;
  text-align: left;
  font-weight: normal;
  text-decoration: underline;
  font-size: 1rem;
  &::before {
    content: '';
    display: block;
    position: relative;
    height: 1em;
    width: 1em;
    left: -1.5em;
    top: 1.1em;
    background: #fff;
  }
 }

 a:visited {
  color: #fff;
 }