
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: $paleGrey;
  justify-content: space-between;
  height: 100vh;
  font-family: $sansSerif;
}

.link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: all ease-out 0.2s;
  color: $navy;
    border-bottom: solid 2px $orange;  
}


.link:hover {
  padding-bottom: 0.2em;
}

 .link:hover::after {
  width: 0;
  transition: all 0.2s;
 }