/* Typography */

/* Colours */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #e5e5e5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  font-family: 'open sans', 'century gothic', arial, sans-serif;
}

.link {
  position: relative;
  text-decoration: none;
  color: #005b74;
}

.link::after {
  height: 2px;
  left: 0;
  bottom: -2px;
  transition-duration: 0.5s;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  width: 100%;
  transition: all ease-out 0.2s;
  background: #fe5b35;
  content: '';
  position: absolute;
}

.link:hover::after {
  width: 0;
  transition: all 0.2s;
 }

/*--------- Keyframes ---------
--------------------------------- */

@-webkit-keyframes bounce {
  0%, 25%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em);
  }
  62% {
    -webkit-transform: translateY(-0.125em);
    transform: translateY(-0.125em);
  }
}

@keyframes bounce {
  0%, 25%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em);
  }
  62% {
    -webkit-transform: translateY(-0.125em);
    transform: translateY(-0.125em);
  }
}

.wrap {
  text-align: center;
  margin-top: 10vh;
  font-weight: bold;
  width: 940px;
  min-height: 50vh;
  overflow: hidden;
}

@media (max-width: 1000px) {

  .wrap {
    width: 90%;
  }
}

@media (max-width: 600px) {}

/*--------- Character ---------
--------------------------------- */

#character {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Zilla Slab', georgia, serif;
  color: #005b74;
  text-align: center;
  margin-bottom: 30px;
  margin: auto;
  width: auto;
  min-height: 2.25rem;
  display: block;
  padding: 0.125em 0.5em;
   -webkit-font-smoothing: antialiased;
}

/*--------- Code ---------
--------------------------------- */

.code {
  color: #fe5b35;
  font-size: 6rem;
  text-align: center;
  font-family: inherit;
  background: transparent;
  border: none;
  display: block;
  margin: 0 auto 50px auto;
  width: 100%;
  min-height: 7.5rem;
  padding: 0.125em 1em;
  visibility: hidden;
   -webkit-font-smoothing: antialiased;
}

@media (max-width: 1000px) {

  .code {
    font-size: 4rem;
  }
}

@media (max-width: 600px) {

  .code {
    padding: 0.125em;
    margin: 0 auto 20px auto;
  }
}

.code::-moz-selection {
	background: #d5d5d5;
	color: #005b74;
}

.code::selection {
	background: #d5d5d5;
	color: #005b74;
}

.code:focus {
	outline: none;
	}

.code--has-code {
    visibility: visible;
  }

/*--------- Input ---------
--------------------------------- */

.input {
	background: inherit;
	border: 0;
	color: #005b74;
	font-size: 6rem;
	text-align: center;
	line-height: 1.5;
	border-bottom: solid 3px black;
	max-width: 100%;
}

@media (max-width: 1000px) {

  .input {
    font-size: 4rem;
  }
}

.input:focus {
	outline: 0;
	border-bottom: solid 3px black;
}

.input::-moz-selection {
	background: none;
}

.input::selection {
	background: none;
}

.input--is-input {
	width: 480px;
}

.input--was-copied {
	width: 340px;
}

/*--------- Instructions ---------
--------------------------------- */

.instructions {
  font-size: 2rem;
  height: 4em;
  color: #fe5b35;
  text-align: center;
  padding-top: 0.5em;
  width: 100%;
  font-family: 'Zilla Slab', georgia, serif;
 -webkit-font-smoothing: antialiased;
}

@media (max-width: 1000px) {}

@media (max-width: 600px) {

  .instructions {
    font-size: 1.25rem;
    height: 4em;
  }
}

.bounce {
	-webkit-animation: bounce 1.5s infinite;
	        animation: bounce 1.5s infinite;
	-webkit-animation-delay: 2s;
	        animation-delay: 2s;	
}

@media (max-width: 600px) {

  .enter-icon {
    height: 50%;
    width: auto;
  }
}

/*--------- Footer ---------
--------------------------------- */

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  padding: 3em;
   -webkit-font-smoothing: antialiased;
}

@media (max-width: 800px) {

  .footer {
    padding: 1em;
    font-size: 0.875rem;
  }
}

@media (max-width: 600px) {}

.footer p {
  display: inline-block;
  margin-right: 10px;
}

@media (max-width: 600px) {

  .footer p {
    padding: 0.25em;
    margin: 0.25em auto;
  }
}

/*--------- Buttons ---------
--------------------------------- */

.btn:visited {
  	color: black;
  }

.enter-icon {
	margin-bottom: -0.125em;
}

.btn {
  	text-decoration: none;
  	border: solid 1px black;
  	padding: 0.5em;
  	margin: 0.5em;
  	color: black;
	transition: all 0.3s;
	overflow: hidden;
  border-radius: 0.25em;
	display: inline-block;
	position: relative;
	z-index: 1;
	height: 2.5em;
	width: 120px;
	font-size: 0.875rem;
	text-align: center;
	line-height: 1.375;
	margin-bottom: -0.5em;
   -webkit-font-smoothing: antialiased;

  }

@media (max-width: 600px) {

  .btn {
    display: block;
    margin: auto;
    margin-top: 2em;
    font-size: 0.75rem;
    width: 100px;
  }
}

.btn:hover {
  	color: white !important;
  }

.btn:hover::after {
  height: 100%;
  width: 140%;
  cursor: pointer;
}

.btn::after {
  height: 180%;
  left: -40%;
  top: 0;
  transition-duration: 0.5s;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  width: 0;
  	transition: all ease-out 0.3s;
  	  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
  
}

.btn::after {
	background: black;
}

.btn--tweet::after {
	background: #1da1f2;
}

.btn--tweet {
	background: #005b74;
	border: none;
	color: white;
	line-height: 1.5;
  margin: auto 1em;
}

@media (max-width: 600px) {

  .btn--tweet {
    margin-top: 1em;
  }
}

.btn i {
	margin-right: 1em;
}

.btn--tweet:hover::after {
	color: white !important;
	background-color: #1da1f2;

}

.btn--tweet:visited {
	color: white !important;
}






