/*--------- Buttons ---------
--------------------------------- */

.btn--tweet {
  padding: 0.25em 1em;
  color: #fff;
  font-weight: bold;
  border: solid 3px #fff;
  text-decoration: none;
}

.btn--tweet a {
  font-weight: bold;
  text-decoration: none;
}