/*--------- Code ---------
--------------------------------- */

.code {
  color: $navy;
  font-size: 6rem;
  text-align: center;
  font-family: inherit;
  background: transparent;
  font-weight: bold;
  border: none;
  display: block;
  margin: 0 auto 50px auto;
  width: 100%;
  min-height: 7.5rem;
  padding: 0.125em 1em;
  visibility: hidden;
   -webkit-font-smoothing: antialiased;
  @mixin at1000 {
    font-size: 4rem;
  }
    @mixin at600 {
    padding: 0.125em;
    margin: 0 auto 20px auto;
  }
}

.code::selection {
	background: #d5d5d5;
	color: #005b74;
}
.code:focus {
	outline: none;
	}

  .code--has-code {
    visibility: visible;
  }
