/*--------- Footer ---------
--------------------------------- */

.footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 3em;
   -webkit-font-smoothing: antialiased;
    @mixin at800 {
    padding: 1em;
    font-size: 0.875rem;
  }
    @mixin at600 {
  }
  p {
  	display: inline-block;
  	margin-right: 1em;
    height: 1.5em;

  	    @mixin at600 {
    padding: 0.25em;
    margin: 0.25em auto;
  }
  }
}