.wrap {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  margin: auto;
  text-align: center;
  overflow: hidden;
    @mixin at1000 {
  	width: 90%;
  }
      @mixin at600 {


  }
}