.wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: -20%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  font-weight: bold;
  width: 940px;
  height: 25rem;
  overflow: hidden;
    @mixin at1000 {
  	width: 90%;
  }
      @mixin at600 {


  }
}